.channel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.channel-info {
  flex: 0 0 3rem;
  background: #F9F9F9;
  border-bottom: 1px solid #E3E3E3;
  padding: 0.5rem;
  line-height: 2rem;
}

.channel-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channel-info .channel-name-container {
  flex-grow: 0;
  font-weight: bold;
}

.channel-info .channel-name {
  vertical-align: middle;
}

.channel-info .channel-delete-container {
  flex-grow: 0;
}

.channel-info .channel-delete {
  padding: 0 0.5rem;
}
