.channel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.channel-info {
  flex: 0 0 3rem;
  background: #F9F9F9;
  border-bottom: 1px solid #E3E3E3;
  padding: 0.5rem;
}

.channel-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channel-info .channel-info-fill {
  flex-grow: 1;
}

.channel-info .channel-name-container {
  flex-grow: 0;
  font-weight: bold;
}

.channel-info .channel-name {
  vertical-align: middle;
  line-height: 2rem;
}

.channel-info .channel-name-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.channel-info .channel-user-count-container {
  flex-grow: 0;
}

.channel-info .channel-user-count {
  line-height: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.channel-info .channel-name {
  vertical-align: middle;
  line-height: 2rem;
}

.channel-info .button {
  display: block;
  height: 2rem;
  line-height: 1rem;
}

.channel-info .channel-silence-container {
  flex-grow: 0;
  margin-right: 0.5rem;
}

.channel-info .channel-delete-container {
  flex-grow: 0;
}

.channel-container .channel-content-container {
  flex-grow: 1;

  overflow-y: hidden;
}

.channel-container .channel-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.channel-container .channel-content .channel-content-user-list {
  flex: 0 0 16rem;
  border-left: 1px solid #E3E3E3;
}
