.channel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.channel-info {
  flex: 0 0 3rem;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
}

.channel-content {
  flex-grow: 1;
  padding: 0.75rem;
  overflow-y: auto;
}

.channel-compose {
  flex: 0 0 4.5rem;
  padding: 0.75rem;

  border-top: 1px solid #ccc;
}

.channel-compose-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.channel-compose-identity {
  flex: 0 0 0;
  border: 1px solid #2d2d2a;
  border-radius: 0.25rem 0 0 0.25rem;

  font-size: 1rem;
  font-weight: bold;
  background: #fbf5f3;
  white-space: nowrap
}

.channel-compose-text {
  display: block;
  flex: 1 0 0;

  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid #2d2d2a;
  border-left: 0;
  height: 3rem;
  padding: 0.75rem;
  font-size: 1rem;
}
