.channel {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.sidebar {
  flex: 0 0 15rem;
  overflow-y: auto;
  border-right: 1px #f69997 solid;
  padding: 0.5rem;

  background: #f25f5c;
  color: #fbf5f3;
}

.sidebar .title {
  font-variant: all-small-caps;
  margin-bottom: 0.5rem;
}

.main {
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
