.new-channel .title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.new-channel .new-channel-name {
  width: 100%;
  font-size: 2rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}

.new-channel .button {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
}
