.channel-list {
  padding-bottom: 0.5rem;
}

.channel-list .new-channel-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;

  text-decoration: none;
  background: url(../images/new-channel.svg);
  background-size: contain;

  transition: transform 0.25s;
}

.channel-list .new-channel-button:hover {
  background: url(../images/new-channel-active.svg);
  background-size: contain;

  transform: rotate(90deg);
}

.channel-list .channel-list-elem {
  display: block;

  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0 0.25rem 0.25rem 0;
  text-decoration: none;
  font-size: 1rem;
  color: #797e8b;

  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  transition: color 0.25s, background 0.25s;
}

.channel-list .channel-list-elem-unread {
  color: #E8E9EB;
  font-weight: bold;
}

.channel-list .channel-list-elem-active {
  background: #E8E9EB;
  color: #03060c;
}

.channel-list .button {
  width: 100%;
  display: block;
}

.channel-list .channel-list-request-invite,
.channel-list .channel-list-import-feed {
  display: inline-block;

  text-decoration: none;
  color: #797e8b;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.channel-list .channel-list-request-invite-active,
.channel-list .channel-list-request-invite:hover,
.channel-list .channel-list-import-feed-active,
.channel-list .channel-list-import-feed:hover {
  color: #E8E9EB;
}
