.channel-list-elem {
  display: flex;
  flex-direction: row;

  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0 0.25rem 0.25rem 0;
  text-decoration: none;
  font-size: 1rem;
  color: #797e8b;

  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  transition: color 0.25s, background 0.25s;
}

.channel-list-elem-left {
  flex-grow: 1;
}

.channel-list-elem-unread {
  color: #E8E9EB;
  font-weight: bold;
}

.channel-list-elem-active {
  background: #E8E9EB;
  color: #050914;
}

.channel-list .button {
  width: 100%;
  display: block;
}

.channel-list-elem-hash {
}

.channel-list-elem-title {
}
