.channel-list-elem {
  display: flex;
  flex-direction: row;

  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid #d5e3f1;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #fbf5f3;

  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  transition: color 0.25s, background 0.25s;
}

.channel-list-elem-left {
  flex-grow: 1;
}

.channel-list-elem-unread {
  flex-grow: 0;
  background: red;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.channel-list-elem-active {
  background: #d5e3f1;
  color: #111;
}

.channel-list .button {
  width: 100%;
  display: block;
}

.channel-list-elem-hash {
  font-weight: bold;
}

.channel-list-elem-title {
}
