.channel-compose {
  flex: 0 0 4.5rem;
  padding: 0.75rem;

  border-top: 1px solid #e3e3e3;
}

.channel-compose-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.channel-compose-identity-container {
  flex-grow: 0;
}

.channel-compose-text-container {
  flex-grow: 1;
}

.channel-compose-emoji-container {
  flex-grow: 0;
}

.channel-compose-identity {
  width: 100%;
  height: 100%;

  padding: 0.75rem 0.25rem 0.75rem 0.5rem;
  border: 1px solid #979797;
  border-right: 0;
  border-radius: 0.25rem 0 0 0.25rem;

  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  white-space: nowrap;
  background: none;
  appearance: none;

  max-width: 16rem;
}

.channel-compose-identity .form-select-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.channel-compose-text {
  width: 100%;
  height: 100%;
  display: block;
  resize: none;

  border: 1px solid #979797;
  border-left: 0;
  border-right: 0;

  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
  font-family: 'Source Code Pro';
}

.channel-compose-emoji {
  width: 100%;
  height: 100%;
  line-height: 1.5rem;

  border: 1px solid #979797;
  border-left: 0;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.75rem;
}

.channel-compose .emoji-mart {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
}

.channel-compose-emoji .channel-compose-emoji-button {
  display: block;
  font-size: 1rem;
  padding: 0;
  margin-top: 0.25rem;

  background: url(../images/cabal-emoji-picker.svg);
  width: 1rem;
  height: 1rem;
  background-size: contain;

  border: none;
  cursor: pointer;
}

.channel-compose-container:focus-within .channel-compose-identity,
.channel-compose-container:focus-within .channel-compose-text,
.channel-compose-container:focus-within .channel-compose-emoji {
  outline: 0;
  border-color: #6c6cae;
}
