.channel-compose {
  flex: 0 0 4.5rem;
  padding: 0.75rem;

  border-top: 1px solid #e3e3e3;
}

.channel-compose-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.channel-compose-identity-container {
  flex-grow: 0;
}

.channel-compose-text-container {
  flex-grow: 1;
}

.channel-compose-identity {
  width: 100%;
  height: 100%;

  padding: 0.75rem 0.25rem 0.75rem 0.5rem;
  border: 1px solid #979797;
  border-right: 0;
  border-radius: 0.25rem 0 0 0.25rem;

  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  white-space: nowrap;
  background: none;
  appearance: none;
}

.channel-compose-text {
  width: 100%;
  height: 100%;
  display: block;
  resize: none;

  border: 1px solid #979797;
  border-left: 0;
  border-radius: 0 0.25rem 0.25rem 0;

  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
}

.channel-compose-container:focus-within .channel-compose-identity,
.channel-compose-container:focus-within .channel-compose-text {
  outline: 0;
  border-color: #6c6cae;
}
