.invite-request-form .invite-request-identity {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.invite-request-form .invite-request-data {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
  height: 8rem;
}
