.message {
  display: flex;
  margin-bottom: 0.25rem;
  padding: 0.25rem;

  line-height: 1.5rem;
}

.message-time-container {
  flex-grow: 0;
}

.message-content-container {
  flex-grow: 1;
  user-select: text;
}

.message-time {
  margin-right: 0.5rem;
  color: #727272;
}

.message-content {
  margin: 0;
}

.message-author {
  font-weight: bold;
  cursor: pointer;
}

.message-author-root {
  font-style: italic;
}

.message-text > p {
  margin: 0;
  display: inline;
}
