.notification-container {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.notification-container .notification-list {
  flex: 0 0 0;
}

.notification-container .notification-rest {
  flex: 1 0 0;
}

.notification-list .notification {
  padding: 0.25rem 0.5rem;
  height: 3rem;
  line-height: 2.5rem;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  transition: 0.25 height;
}

.notification-list .notification {
  background: #fbf5f3;
  border-bottom: 1px solid #222;
  color: #222;
}

.notification-list .notification-error {
  background: #b14643;
  border-bottom: 1px solid #582322;
  color: #fbf5f3;
}

.notification-list .notification .notification-content {
  flex-grow: 1;
}

.notification-list .notification .notification-dismiss-container {
  flex-grow: 0;
}

.notification-list .notification .notification-dismiss {
  height: 2.5rem;
}

.notification-list .notification-error .notification-dismiss {
  background: #fbf5f3;
}
