.user-list {
  height: 100%;
  overflow-y: auto;
}

.user-list .user-list-elem {
  display: block;

  padding: 0.5rem 0.5rem 0.5rem 2rem;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  text-decoration: none;
  font-size: 1rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
