html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

hr {
  margin-bottom: 0.5rem;
  border: 0;
  height: 1px;
  background: #e3e3e3;
}

/* Buttons */

.button {
  border: 1px solid #4c4c9d;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background: none;
  text-decoration:none;
  color: #4c4c9d;
  font-size: 1rem;

  cursor: pointer;
  transition: background 0.25s, color 0.25s;
}

.button:focus {
  outline: 0;
}

.button.button-danger {
  background: none;
  color: #ff3c38;
  border-color: #ff3c38;
}

.button:disabled {
  color: #afafaf;
}

.button:hover:not(:disabled) {
  background: #4c4c9d;
  color: #f9f9f9;
}

.button.button-danger:hover:not(:disabled) {
  background: #ff3c38;
  color: #fbf5f3;
}

/* Forms */

form {
  text-align: center;
}

.form-row {
  margin-bottom: 0.5rem;
}

form .title {
  margin-bottom: 0.5rem;
}

form .button {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
}

form .form-input {
  border: 1px solid #979797;
}

form .form-input:focus {
  outline: 0;
  border: 1px solid #6c6cae;
}

form select.form-input,
form input[type="text"].form-input,
form input[type="password"].form-input {
  width: 100%;
  font-size: 2rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background: none;
}
