.channel-layout {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.channel-layout .channel-layout-sidebar {
  flex: 0 0 19rem;
  overflow-y: auto;
  border-right: 1px #090E20 solid;

  background: #0B132B;
  color: #4d5364;
}

.channel-layout .channel-layout-sidebar .title {
  margin: 0.5rem 0 1rem 0.5rem;

  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.channel-layout .channel-layout-sidebar .new-channel-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;

  text-decoration: none;
  background: url(/images/new-channel.svg);
  background-size: contain;
}

.channel-layout .channel-layout-sidebar .new-channel-button:hover {
  background: url(/images/new-channel-active.svg);
  background-size: contain;
}

.channel-layout .channel-layout-main {
  flex: 1 0 0;
}
