.channel-layout {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.channel-layout .channel-layout-sidebar {
  flex: 0 0 15rem;
  overflow-y: auto;
  border-right: 1px #6699cc solid;
  padding: 0.5rem;

  background: #26384b;
  color: #fbf5f3;
}

.channel-layout .channel-layout-sidebar .title {
  font-variant: all-small-caps;
  margin-bottom: 0.5rem;
}

.channel-layout .channel-layout-main {
  flex: 1 0 0;
}
