.channel-layout {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.channel-layout .channel-layout-sidebar {
  flex: 0 1 16rem;
  overflow-y: auto;
  border-right: 1px #090E20 solid;

  background: #0B132B;
  color: #797e8b;
}

.channel-layout .channel-layout-sidebar .title {
  margin: 0.5rem 0 1rem 0.5rem;

  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.channel-layout .channel-layout-main {
  flex: 1 2 0;
}
